################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.Cache
*.user
*.suo
/Conglomo.MacJava/Conglomo.MacJava/bin
/Conglomo.MacJava/Conglomo.MacJava/obj
/Conglomo.MacJava/Conglomo.MacJava.Sample/bin
/Conglomo.MacJava/Conglomo.MacJava.Sample/obj
/Conglomo.MacJava/packages
*.old
Conglomo.MacJava/Conglomo.MacJava.sln.GhostDoc.xml
