################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.Cache
*.user
*.suo
.vs
Conglomo.MacJava/bin
Conglomo.MacJava/obj
Conglomo.MacJava.Sample/bin
Conglomo.MacJava.Sample/obj
packages
*.old
*.GhostDoc.xml
